<!doctype html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title>StockMarketML</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="./assets/js/require.min.js"></script>
    <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="./assets/css/dashboard.css" rel="stylesheet" />
    <script src="./assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="./assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="./assets/plugins/charts-c3/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="./assets/plugins/input-mask/plugin.js"></script>
  </head>
  <body class="">
    <div class="page">
      <div class="page-main">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand" href="./index.html">
                <h3>StockMarketML</h3>
              </a>
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item">
                    <a href="./index.html" class="nav-link active"><i class="fe fe-home"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="./index.html" class="nav-link"><i class="fe fe-home"></i> Settings</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="row row-cards row-deck">
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                      <thead>
                        <tr>
                          <th class="text-center w-1"><i class="icon-people"></i></th>
                          <th>User</th>
                          <th>Usage</th>
                          <th class="text-center">Payment</th>
                          <th>Activity</th>
                          <th class="text-center">Satisfaction</th>
                          <th class="text-center"><i class="icon-settings"></i></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">
                            <div class="avatar d-block" style="">
                              <span class="avatar-status bg-green"></span>
                            </div>
                          </td>
                          <td>
                            <div>Elizabeth Martin</div>
                            <div class="small text-muted">
                              Registered: Mar 9, 2018
                            </div>
                          </td>
                          <td>
                            <div class="clearfix">
                              <div class="float-left">
                                <strong>42%</strong>
                              </div>
                              <div class="float-right">
                                <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                              </div>
                            </div>
                            <div class="progress progress-xs">
                              <div class="progress-bar bg-yellow" role="progressbar" style="width: 42%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td class="text-center">
                            <i class="payment payment-visa"></i>
                          </td>
                          <td>
                            <div class="small text-muted">Last login</div>
                            <div>4 minutes ago</div>
                          </td>
                          <td class="text-center">
                            <div class="mx-auto chart-circle chart-circle-xs" data-value="0.42" data-thickness="3" data-color="blue">
                              <div class="chart-circle-value">42%</div>
                            </div>
                          </td>
                          <td class="text-center">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Separated link</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-12">
                <div class="row">
                  <div class="col-sm-6 col-lg-3">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-value float-right text-blue">+5%</div>
                        <h3 class="mb-1">423</h3>
                        <div class="text-muted">Users online</div>
                      </div>
                      <div class="card-chart-bg">
                        <div id="chart-bg-users-1" style="height: 100%"></div>
                      </div>
                    </div>
                    <script>
                      require(['c3', 'jquery'], function (c3, $) {
                        $(document).ready(function() {
                          var chart = c3.generate({
                            bindto: '#chart-bg-users-1',
                            padding: {
                              bottom: -10,
                              left: -1,
                              right: -1
                            },
                            data: {
                              names: {
                                data1: 'Users online'
                              },
                              columns: [
                                ['data1', 30, 40, 10, 40, 12, 22, 40]
                              ],
                              type: 'area'
                            },
                            legend: {
                              show: false
                            },
                            transition: {
                              duration: 0
                            },
                            point: {
                              show: false
                            },
                            tooltip: {
                              format: {
                                title: function (x) {
                                  return '';
                                }
                              }
                            },
                            axis: {
                              y: {
                                padding: {
                                  bottom: 0,
                                },
                                show: false,
                                tick: {
                                  outer: false
                                }
                              },
                              x: {
                                padding: {
                                  left: 0,
                                  right: 0
                                },
                                show: false
                              }
                            },
                            color: {
                              pattern: ['#467fcf']
                            }
                          });
                        });
                      });
                    </script>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-value float-right text-red">-3%</div>
                        <h3 class="mb-1">423</h3>
                        <div class="text-muted">Users online</div>
                      </div>
                      <div class="card-chart-bg">
                        <div id="chart-bg-users-2" style="height: 100%"></div>
                      </div>
                    </div>
                    <script>
                      require(['c3', 'jquery'], function (c3, $) {
                        $(document).ready(function() {
                          var chart = c3.generate({
                            bindto: '#chart-bg-users-2',
                            padding: {
                              bottom: -10,
                              left: -1,
                              right: -1
                            },
                            data: {
                              names: {
                                data1: 'Users online'
                              },
                              columns: [
                                ['data1', 30, 40, 10, 40, 12, 22, 40]
                              ],
                              type: 'area'
                            },
                            legend: {
                              show: false
                            },
                            transition: {
                              duration: 0
                            },
                            point: {
                              show: false
                            },
                            tooltip: {
                              format: {
                                title: function (x) {
                                  return '';
                                }
                              }
                            },
                            axis: {
                              y: {
                                padding: {
                                  bottom: 0,
                                },
                                show: false,
                                tick: {
                                  outer: false
                                }
                              },
                              x: {
                                padding: {
                                  left: 0,
                                  right: 0
                                },
                                show: false
                              }
                            },
                            color: {
                              pattern: ['#e74c3c']
                            }
                          });
                        });
                      });
                    </script>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-value float-right text-green">-3%</div>
                        <h3 class="mb-1">423</h3>
                        <div class="text-muted">Users online</div>
                      </div>
                      <div class="card-chart-bg">
                        <div id="chart-bg-users-3" style="height: 100%"></div>
                      </div>
                    </div>
                    <script>
                      require(['c3', 'jquery'], function (c3, $) {
                        $(document).ready(function() {
                          var chart = c3.generate({
                            bindto: '#chart-bg-users-3',
                            padding: {
                              bottom: -10,
                              left: -1,
                              right: -1
                            },
                            data: {
                              names: {
                                data1: 'Users online'
                              },
                              columns: [
                                ['data1', 30, 40, 10, 40, 12, 22, 40]
                              ],
                              type: 'area'
                            },
                            legend: {
                              show: false
                            },
                            transition: {
                              duration: 0
                            },
                            point: {
                              show: false
                            },
                            tooltip: {
                              format: {
                                title: function (x) {
                                  return '';
                                }
                              }
                            },
                            axis: {
                              y: {
                                padding: {
                                  bottom: 0,
                                },
                                show: false,
                                tick: {
                                  outer: false
                                }
                              },
                              x: {
                                padding: {
                                  left: 0,
                                  right: 0
                                },
                                show: false
                              }
                            },
                            color: {
                              pattern: ['#5eba00']
                            }
                          });
                        });
                      });
                    </script>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-value float-right text-yellow">9%</div>
                        <h3 class="mb-1">423</h3>
                        <div class="text-muted">Users online</div>
                      </div>
                      <div class="card-chart-bg">
                        <div id="chart-bg-users-4" style="height: 100%"></div>
                      </div>
                    </div>
                    <script>
                      require(['c3', 'jquery'], function (c3, $) {
                        $(document).ready(function() {
                          var chart = c3.generate({
                            bindto: '#chart-bg-users-4',
                            padding: {
                              bottom: -10,
                              left: -1,
                              right: -1
                            },
                            data: {
                              names: {
                                data1: 'Users online'
                              },
                              columns: [
                                ['data1', 30, 40, 10, 40, 12, 22, 40]
                              ],
                              type: 'area'
                            },
                            legend: {
                              show: false
                            },
                            transition: {
                              duration: 0
                            },
                            point: {
                              show: false
                            },
                            tooltip: {
                              format: {
                                title: function (x) {
                                  return '';
                                }
                              }
                            },
                            axis: {
                              y: {
                                padding: {
                                  bottom: 0,
                                },
                                show: false,
                                tick: {
                                  outer: false
                                }
                              },
                              x: {
                                padding: {
                                  left: 0,
                                  right: 0
                                },
                                show: false
                              }
                            },
                            color: {
                              pattern: ['#f1c40f']
                            }
                          });
                        });
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              Copyright © 2018 <a href=".">SSHH.IO</a>. Dashboard Theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a> All rights reserved.
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
